<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.chimu.mylib">

    <!--相机权限，数据存储-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.MyCameraActivity"/>
        <service android:name=".service.MyJobService" android:permission="android.permission.BIND_JOB_SERVICE"></service>
        <service
            android:name=".common.wecharService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
        <!-- 声明widget对应的AppWidgetProvider -->
        <receiver android:name=".activity.WidgetProvider">
            <intent-filter>
                <!--这个是必须要有的系统规定-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <!--这个是我们自定义的 action ，用来更新UI，还可以自由添加更多 -->
                <action android:name="com.sicheng.service.UPDATE_ALL"/>
            </intent-filter>
            <!--要显示的布局-->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/window_widget"/>
        </receiver>

        <!-- 用来计时，发送 通知桌面部件更新 -->
        <service android:name=".service.WidgetService" >
            <intent-filter>
                <!--用来启动服务-->
                <action android:name="android.appwidget.action.APP_WIDGET_SERVICE" />
            </intent-filter>
        </service>



    </application>

</manifest>
